// app global css in SCSS form
@font-face {
  font-family: 'Share Tech';
  src: url('./fonts/ShareTechMono-Regular.woff');
}

@font-face {
  font-family: 'Bitmgothic';
  src: url('./fonts/bitmgothic.medium.woff');
}

.font-tech {
  font-family: 'Share Tech', monospace;
}

.font-bitmgothic {
  font-family: 'Bitmgothic', monospace;
}

.b-l-w {
  border-left: 1px solid white !important;
}

.b-r-w {
  border-right: 1px solid white !important;
}
